{
  "extends": [
    "canonical",
    "canonical/typescript",
    "canonical/node"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "unicorn/prefer-node-protocol": 0
  },
  "root": true
}
