{
  "extends": [
    "canonical",
    "canonical/typescript",
    "canonical/node"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "root": true
}
